body {
    margin: 0;
    font-family: Nunito;

}
/*Menu Header*/
#headerblock{
    width: 100%;
    height: 137px;
    background-color: #02DA91;
}
#headerblock #iphone {
    display: flex;
    flex-direction: row;
}
#headerblock #iphone #heure {
    flex: 1 1 0;
    margin-left: 5%;

}
#headerblock #iphone #batterie {
    flex: 0 1 0;
    margin-right: 5%;
}
#headerCross{
    display: flex;
    flex-direction: row-reverse;
}
#headerCross #cross {
    margin-top: 1%;
    margin-right: 7%;
}
#headerText {
    text-align:center;
}
#headerText #titleHeader {
    color : white;
    font-weight: bold;
    font-size: 25px;

}
/*Card avec les avis*/
.card{
    height: auto;
    background: white;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -5%;
    padding:35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15%;

}
/*Avis*/
.avisTop {
    display: flex;
    flex-direction: row;
}
.avisTop p {
    margin: 0;

}
.imgAvis {
    flex-shrink: 0;

    margin-right: 3%;
}
.personneAvis {
    flex: 1 1 0;
}
.text {
    text-align: justify;
}
.imgAvis img {
    width:45px;
    height:45px;
}



