/*media query pour taille d'écran iPhone*/
@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3) {
    h1 {
        background-color: pink;
    }
    #footer{
        height: 100px;
        position: absolute;
        bottom: 0;
    }
}